---
layout: page
title: About
---
 
        <!-- Intro Content -->
        <!--       Dimensions for pic: 750 * 450 -->

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/about_header.jpg" alt="">
            </div>
            <div class="col-md-6">
                {% capture my_include %}{% include about_text.md %}{% endcapture %}
				{{ my_include | markdownify }}
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
<!--       Dimensions for pic: 750 * 450 -->
        {% for semester in site.about_semesters %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our {{ semester }} Board</h2>
            </div>
			{% for member in site.members %}
			{% for position in member.positions %}
			{% if position.semester == semester %}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="{{site.baseurl}}{{ member.url }}"><img class="img-responsive" src="{{site.baseurl}}/img/members/{{ member.image }}" alt=""></a>
                    
                    <div class="caption">
                        <h3><a href="{{site.baseurl}}{{ member.url }}">{{ member.name }}</a><br>
                            <small>{{ position.title }}</small>
                        </h3>
                        <p>{{ member.major }}</p>
                    </div>
                </div>
            </div>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
		{% endfor %}
		
		<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Advisors</h2>
            </div>
		    {% for member in site.members %}
		    {% if member.positions == "advisor" %}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="{{site.baseurl}}{{ member.url }}"><img class="img-responsive" src="{{site.baseurl}}/img/members/{{ member.image }}" alt=""></a>
                    
                    <div class="caption">
                        <h3><a href="{{site.baseurl}}{{ member.url }}">{{ member.name }}</a><br>
                            <small>Advisor</small>
                        </h3>
                        <p>{{ member.major }}</p>
                    </div>
                </div>
            </div>		
		    {% endif %}
            {% endfor %}
		</div>


