---
layout: page
page-title: About
---
 
        <!-- Intro Content -->
        <!--       Dimensions for pic: 750 * 450 -->

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/about_header.jpg" alt="">
            </div>
            <div class="col-md-6">
                {% capture my_include %}{% include about_text.md %}{% endcapture %}
				{{ my_include | markdownify }}
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
<!--       Dimensions for pic: 750 * 450 -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team board</h2>
            </div>
			{% for member in site.members %}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="{{ member.url }}"><img class="img-responsive" src="img/members/{{ member.image }}" alt=""></a>
                    
                    <div class="caption">
                        <h3><a href="{{ member.url }}">{{ member.name }}</a><br>
                            <small>{{ member.title }}</small>
                        </h3>
                        <p>{{ member.major }}</p>
                    </div>
                </div>
            </div>
			{% endfor %}
          
        <!-- /.row -->

        <!-- Previous team boards -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Team board 2015 Fall</h2>
            </div>
            
        </div>
            
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Team board 2015 Spring</h2>
            </div>
            
        </div>
        <!-- /.row -->

