---
layout: page
title: Contact
---

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3467.4707537306585!2d-82.34623604920097!3d29.648111081940122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e8a39d4f0969b5%3A0xd21b17bc0529867e!2sUniversity+of+Florida-+Department+of+Computer+and+Information+Science+and+Engineering!5e0!3m2!1sen!2sus!4v1457324557915"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Join Us!</h3>
                    <p>Interested in planning DSI's future activities, helping with our next workshop, or organizing our future seminars?<br>

The best way is to join our Facebook group and attend our workshops and events. You can also email us directly.
                    </p>
                <hr>
                <p>Address:<br>
                    UF Informatics Institute, CISE Building<br>
                    University of Florida, Gainesville, FL, USA
                </p>
                
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email"></abbr> <a href="http://dsiufl.us12.list-manage.com/subscribe?u=bb3e0321759766a03cb0b6ff4&id=64328ec1a9">Join our listserve</a>
                </p>
                
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        {% include icon-facebook.html %}
                    </li>
                    
                    <li>
                        {% include icon-twitter.html %}
                    </li>
					<li>
                        {% include icon-github.html %}
                    </li>
					<li>
                        {% include icon-email.html %}
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#street|1|-9.430895217416957|17.358226496519098|29.64842214480672|-82.34349815321605"></iframe>
            </div>
        </div>
        <!-- /.row -->
        
        


    

    